<div class="well">
  
  <h2>As Mechanical Contractors, we’re faced with tough 
    choices.</h2> 
  
  <h3>But saving money yourself and helping someone unload 
      an extra piece of material? That’s easy.</h3>
    
  <h4>Let’s state the obvious, here.</h4>
      
  <ul>
    <li>Contractors sometimes end up with extra stuff.</li>
    <li>This stuff usually ends up in their ‘warehouse’.</li>
    <li>Most of the time, this stuff just sits there.</li>
    <li>A lot of it gets thrown away if not used after a few years.</li>
  </ul>
        
  <p>Why not open up our warehouses to each other? 
    Everyone out there would rather sell a piece of leftover material to 
    someone in need, rather than just leave it sit for another decade. And 
    everyone out there would rather quote the customer sticker price on a 
    specialty item and then find that item discounted somewhere. It’s 
    ‘finding that item’ that can be tricky.</p>

  <h3>Overflow makes it easy.</h3>

  <ul>
    <li>Search</li>
    <li>Contact</li>
    <li>Work out the details amongst yourselves.</li>
  </ul>
  
  <p>Craigslist and eBay are too dependent on perfect timing for them to solve 
  this problem. That’s why we built Overlfow – an online, collaborative 
  warehouse for HVAC and Plumbing contractors.</p>

</div>
