<% # Signed in User %>
<% if user_signed_in? %>
  <div class="well">
    <h1>Dashboard</h1>
  </div>
		    
<% else %>

<% # Signed Out User / Splash Page %> 
  <div class="center hero-unit">
    <h1>Don't throw away extra materials.</h1>
      <h2>Every HVAC and Plumbing Contractor throws stuff away.</h2>
	<p style="text-align:left">You quote a job, and just by how it all works out, you end up with leftover PVF.
		You put it in the warehouse, and some of it gets used throughout the year - but a lot of it doesn't. And at the end
		of the year, you end up tossing out the odds and ends. You're throwing money away. What if you could create a list 
		of items... </p>
      <h2>...and other people would contact you to get them?</h2>
    
      <%= link_to "Sign up now!", new_user_registration_path, class: "btn btn-huge btn-info" %>
  </div>

<div class="row">
  <div class="span5">
    <div class="well">
      <h2 class="center">Save Money</h2>
      <div class="center">
        <object data="images/money.svg" type="image/svg+xml"></object>
      </div>
      <p>
        When you're buying some other contractor's extra part, you're not paying
        as much as buying new from a distributor.
      </p>
    </div>
  </div>
  <div class="span5">
    <div class="well">
      <h2 class="center">Save Time</h2>
      <div class="center">                                                                                                   
        <object data="images/time.svg" type="image/svg+xml"></object>          
      </div> 
      <p>
        Check Overflow for inventory first, instead of calling suppliers to get
        pricing and lead-time on parts you need.
      </p>
    </div>
  </div>
  <div class="span5">
    <div class="well">
      <h2 class="center">Find What You Need</h2>
      <div class="center">                                                                                                   
        <object data="images/box.svg" type="image/svg+xml"></object>          
      </div> 
      <p>
        Specialty and excess PVF is just a click away, from trusted HVAC
        contractors already in the Unified Group!
      </p>
    </div>
  </div>
</div>

<div class="well">
  <h2 class="center">The Unified Group's Exclusive Inventory Exchange</h2>
  <p>
    Every single HVAC, Mechanical, and Plumbing contractor struggles with
    finding the time and manpower to complete jobs - while still maintaining
    lists of excess inventory items. What if your list of excess items that you
    have also served as a contact list for others to purchase your leftovers?
    What if you could easily search this database to find things you need
    before reaching out and buying new parts?
  </p>
  <p>
    If one contractor sells a part that was just sitting around, and another
    one purchases that part and save time and money, everyone wins. Learn more
    about how we can all win together with <strong>The Unified Group</strong>
    today by signing up for a free account.
  </p>
</div>
<% end %>

