<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Welcome to OverflowMech, <%= @user.username %></h1>
    <p>
      You're now a part of an exclusive insider inventory trading group.
      To get the most of the community, make sure that you add as many items
      as you're able to - others search the site every day and could be
      looking for exactly what you have.
    </p>
    <p>
      On the other hand, make sure that the next time that you're looking for
      specialty PVF, equipment, or materials, that you check here, first!
      There are many members of OverflowMech that would love to take that extra
      stuff off your hands.
    </p>
    <p>
      This is the last time that you'll be hearing from OverflowMech unless you
      want to send the webmaster a message. Instead, you'll be hearing from
      members. We tried to keep things simple.
    </p>
    <p>
      Your username is: <%= @user.username %>.<br/>
    </p>
    <p>
      To login to the site, just follow this link: <%= @url %>.
    </p>
    <p>Thanks for joining and have a great day!</p>
    <p>Sincerely,</p>
    <p>Overflow</p>
  </body>
</html>
