<div class="well">
  <h1 style="padding-bottom:25px">All Companies</h1>

  <table style="width:75%; text-align:left">
    <tr>
      <th><h3>Company Name</h3></th>
      <th><h3>Location</h3></th>
      <th><h3>Phone</h3></th>
      <th><h3>Get in Touch</h3></th>
    </tr>
    <tr>
      <% @user.each do |user| %>
        <td><%= link_to user.username, public_profile_path(user.username) %><br/></td>
        
        <td><%= location_display(user) %></td>

        <td><%= phone_display(user) %></td>

        <td><%= mail_to user.email.to_s, "Email this User", :cc => "overflowmech@gmail.com",
            :subject => "Contact from Overflow Member" %></td> 

      </tr>
    <% end %>
  </table>
  
</div>

