<div class="span4">
  <div class="well">
    <h1>New item</h1>
	  <%= render 'form' %>
	  <%= link_to 'Back', items_path %>
  </div>
</div>

<div class="span10" style="padding-left:20px">
  <div class="well">
    
    <h3 style="margin-left:20px">Some tips on listing your items</h3>
    
    <div style="margin-left:20px; font-size:16px">
      <ul style="margin-left:20px">
        <li>Add things like PVF, equipment, tools, and more!</li>
        <li>Use descriptive language, like "Stainless Steel" and "SS"</li>
        <li>Make sure to specify the quantity - a box? A dozen?</li>
        <li>Add a price, or let someone know you're willing to haggle.</li>
        <li>If the item gets used, make sure to delete it from your account.</li>
      </ul>
    </div>

    <p style="margin-left:20px">The best thing about Overflow is that we kept it easy to add new items.
      That means that you can afford the time to update your inventory on the
      site often. Overflow is more useful to all of its members as the amount
      of items increases, and the items are kept accurate!</p>

    <p style="margin-left:20px; padding-bottom:7px">We don't want to stand in the way of you getting what you need - if you
    locate the piece you need, email that person directly. Work out the price,
    the shipping, etc. It's your business - do it your way.</p>

  </div>
</div>
